.env
index.ts
backp2.ts
backup2.js
dolphin.json
backup.ts
backup.js
working gpt no memory.ts
working gpt no memory.js
.node_modules/sharp
Aiimage.png
useless code.ts
useless code.js
gptAI.ts
musicplayer.ts
